.clearfix:after {
    content: ' ';
    display: block;
    clear: both;
}
.clear-both {
    clear: both;
}
.text-overflow {
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
